
.login-container{
    padding: 10px;
    height: 85vh;
}

.login-container h2{
    text-align: center;
    font-weight: bolder;
    margin-top: 12vh;
}

.login-form{
  font-size: 1rem;
  padding: 30px;
  width: 60%;
  margin: 5vh auto;
  background: #dee2e61f;
}

.login-button{
   margin: 20px auto;
   
}
